@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

* {
  font-family: Open Sans Hebrew;
}

body,
html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E9EDEC;
  min-height: 100%;
  direction: rtl;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
* {
  direction: rtl;
}
.appLink:hover {
  color:rgb(27, 126, 106);
  cursor: pointer;
}

.App {
  height: 100%;
  background: #E9EDEC;
}

button {
  font-family: Open Sans Hebrew;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}